# npm
node_modules
package-lock.json
yarn.lock

# build
build
dist
.vite

# misc
.DS_Store
*.log

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
